h1{
    text-align: center;
}
h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.box{
    height: 180px;
    width: 180px;
    background-color: #b38f8f;
    margin: 20px;
    border: solid 5px;
    border-radius: 25px;
}

.box1{
    background-color: #e66642;
}

.box2{
    background-color: #10efbf;
}

.box3{
    background-color: #437ef5;
}

.box4{
    background-color: #efcd5f;
}


.flash{
    background-color: #fff;
}


.userflash{
    background-color: #3a8533;
}